<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Cap'tain Connect</title>

  <link rel="preconnect" href="https://fonts.bunny.net">

  @stack('dumper')
  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body class="min-h-screen w-screen font-sans bg-background">
  @inertia()
</body>

</html>