html,
body {
	height: 100%;
	width: 100%;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader {
	animation: loading 1s infinite;
}

.leaflet-container {
	z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
	z-index: 0;
}
