services:
  mysql:
      image: mysql:8.0
      container_name: captainconnect_mysql
      environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USER}
        MYSQL_PASSWORD: ${DB_PASSWORD}
      volumes:
        - mysql_data:/var/lib/mysql
      ports:
        - "3306:3306"

volumes:
  mysql_data: