services:
  mariadb:
      image: mariadb:11.0
      container_name: captainconnect_mariadb
      environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USER}
        MYSQL_PASSWORD: ${DB_PASSWORD}
      volumes:
        - mariadb_data:/var/lib/mysql
      ports:
        - "3306:3306"

volumes:
  mariadb_data: